/* utility */
body {overflow-y: scroll;}
.bg-white {
  background-color: #fff !important
}
[data-role="button"] {
  cursor: pointer;
}
.muted-link {
  color: #586069 !important
}
.muted-link:hover {
  color: #0366d6 !important
  text-decoration: none;
}
.no-underline {
  text-decoration: none !important
}
.f18 {
  font-size: 18px !important
}
.f17 {
  font-size: 17px !important
}
.f16 {
  font-size: 16px !important
}
.f15 {
  font-size: 15px !important
}
.f14 {
  font-size: 14px !important
}
.f13 {
  font-size: 13px !important
}
.f12 {
  font-size: 12px !important
}
.rounded-2 {
  border-radius: 6px !important
}
.bg-white {
  background-color: #fff !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.border-right {
  border-right: 1px solid #dee2e6 !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.border-left {
  border-left: 1px solid #dee2e6 !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-primary {
  border-color: #007bff !important;
}

.border-secondary {
  border-color: #6c757d !important;
}

.border-success {
  border-color: #28a745 !important;
}

.border-info {
  border-color: #17a2b8 !important;
}

.border-warning {
  border-color: #ffc107 !important;
}

.border-danger {
  border-color: #dc3545 !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

.border-dark {
  border-color: #343a40 !important;
}

.border-white {
  border-color: #fff !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.rounded-top {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.rounded-right {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-0 {
  border-radius: 0 !important;
}
.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}


/* loader 패치 */
.modal .loader-overlay .loader-wrapper {
  top: 50% !important;
}
.modal .loader-overlay .loader-wrapper.default .loader {
  top: 55px!important;
  left: 65px;
}

/* tree */
.rb-tree {
    font-family: 'Open Sans','돋움', dotum, sans-serif, FontAwesome;
}

.rb-tree ul {
	padding-left: 0;
}

.rb-tree > ul {
	padding-left: 20px;
}

.rb-tree li {
	list-style-type: none;
	position: relative;
}


.rb-tree li::before,
.rb-tree li::after {
	content: '';
	left: -15px;
	position: absolute;
	right: auto;
}

.rb-tree li:before {
	border-left: 1px dotted #ccc;
	bottom: 50px;
	height: 100%;
	top: -8px;
	width: 1px;
}

.rb-tree li:last-child::before {
	height: 20px;
}

.rb-tree li:after {
	border-top: 1px dotted #ccc;
	height: 20px;
	top: 11px;
	width: 15px;
}

.rb-tree a.rb-branch,
.rb-tree a.rb-leaf {
	color: #969494
}

.rb-tree a {
	text-decoration: none;
	line-height: 1.8;
	color: #666
}

.rb-tree a:active {
	outline: none;
}

.rb-tree.rb-root {
	padding-left: 0;
}

.rb-tree .panel {
	margin-bottom: 0;
	background-color: transparent;
	border:none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.rb-tree .rb-active {
	font-weight: bold;
	color: #428bca;
	padding: 3px 7px 2px 15px;
}


.rb-tree .rb-branch.collapsed:before {
	position: absolute;
	left: 0;
	z-index: 1;
	content: "\f196";
}

.rb-tree .rb-branch:before {
	position: absolute;
	/*left: -7px;*/
	z-index: 1;
	content: "\f147";
}

.rb-tree .rb-leaf:before {
	content: "";
}

.rb-tree span	{
	padding-left: 15px;
}
.rb-tree a.rb-leaf+a span {
		padding-left: 3px;
}
.rb-tree small	{
	color: #999;
}
.rb-tree input	{
	position: relative;
	top: 1px;
	left: 3px;
	margin-right: 7px;
}
.rb-tree i	{
	top: 1px;
	left: 4px;
	font-size: 11px;
	color: #666;
}

.rb-tree a u {
	color: #ccc;
	text-decoration: none;
}
.rb-tree .rb-active u {
	color: #428bca;
}

/*submit button loading*/
.btn .not-loading {
  display: block;
}
.btn:disabled .not-loading {
  display: none;
}
.btn .is-loading {
  display: none;
}
.btn:disabled .is-loading {
  display: block;
}




/*utility*/
.hidden {
  display: none !important
}

/* color */
.bg-transparent {
  background-color: transparent !important
}

/*loader*/
.isloading-wrapper.isloading-right{margin-left:10px;}
.isloading-overlay{position:relative;text-align:center;}.isloading-overlay .isloading-wrapper{background:#FFFFFF;-webkit-border-radius:7px;-webkit-background-clip:padding-box;-moz-border-radius:7px;-moz-background-clip:padding;border-radius:7px;background-clip:padding-box;display:inline-block;margin:0 auto;padding:10px 20px;top:10%;z-index:9000;}


/*avatar*/
.rb-avatar-default {
  background-color: #f5f5f5;
  border-radius: 0.25em;
}

/*loader*/
.isloading-overlay {
  background-color: rgba(255, 255, 255, 0.7) !important;
  border-radius: 4px

}
.loader-overlay .loader-wrapper.custom {
  padding: 15px;
  background-color: #fff;
  color: #444;
  border-radius: 3px;
  box-shadow: none;
  line-height: 40px;
  font-weight: 500;
  font-size: 1.1em;
}
.rb-fading-circle {
  margin: 0 auto 15px;
  width: 60px;
  height: 60px;
  position: relative;
}

.rb-fading-circle .rb-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.rb-fading-circle .rb-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #777;
  border-radius: 100%;
  -webkit-animation: rb-circleFadeDelay 1.2s infinite ease-in-out both;
        animation: rb-circleFadeDelay 1.2s infinite ease-in-out both;
}
.rb-fading-circle .rb-circle2 {
  -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
        transform: rotate(30deg);
}
.rb-fading-circle .rb-circle3 {
  -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
        transform: rotate(60deg);
}
.rb-fading-circle .rb-circle4 {
  -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
}
.rb-fading-circle .rb-circle5 {
  -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
        transform: rotate(120deg);
}
.rb-fading-circle .rb-circle6 {
  -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
        transform: rotate(150deg);
}
.rb-fading-circle .rb-circle7 {
  -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
        transform: rotate(180deg);
}
.rb-fading-circle .rb-circle8 {
  -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
        transform: rotate(210deg);
}
.rb-fading-circle .rb-circle9 {
  -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
        transform: rotate(240deg);
}
.rb-fading-circle .rb-circle10 {
  -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
        transform: rotate(270deg);
}
.rb-fading-circle .rb-circle11 {
  -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
        transform: rotate(300deg);
}
.rb-fading-circle .rb-circle12 {
  -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
        transform: rotate(330deg);
}
.rb-fading-circle .rb-circle2:before {
  -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
}
.rb-fading-circle .rb-circle3:before {
  -webkit-animation-delay: -1s;
        animation-delay: -1s;
}
.rb-fading-circle .rb-circle4:before {
  -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
}
.rb-fading-circle .rb-circle5:before {
  -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
}
.rb-fading-circle .rb-circle6:before {
  -webkit-animation-delay: -0.7s;
        animation-delay: -0.7s;
}
.rb-fading-circle .rb-circle7:before {
  -webkit-animation-delay: -0.6s;
        animation-delay: -0.6s;
}
.rb-fading-circle .rb-circle8:before {
  -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s;
}
.rb-fading-circle .rb-circle9:before {
  -webkit-animation-delay: -0.4s;
        animation-delay: -0.4s;
}
.rb-fading-circle .rb-circle10:before {
  -webkit-animation-delay: -0.3s;
        animation-delay: -0.3s;
}
.rb-fading-circle .rb-circle11:before {
  -webkit-animation-delay: -0.2s;
        animation-delay: -0.2s;
}
.rb-fading-circle .rb-circle12:before {
  -webkit-animation-delay: -0.1s;
        animation-delay: -0.1s;
}

@-webkit-keyframes rb-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes rb-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

.loading-spinner .rb-text {
  display: block;
  margin-top: 15px;
  font: 12px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

/*animation :  https://daneden.github.io/animate.css/ */

.anim-fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.animated {
  -webkit-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.animated.fadeInUp,
.animated.fadeInDown,
.animated.fadeOutUp,
.animated.fadeOutDown {
  -webkit-animation-duration: .5s;
       -o-animation-duration: .5s;
          animation-duration: .5s;
}

.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
       -o-animation-duration: .75s;
          animation-duration: .75s;
}

@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}

@-o-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -o-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
       animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -o-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
       animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
         -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
         -o-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
         -o-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
       -o-animation-name: bounce;
          animation-name: bounce;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
       -o-transform-origin: center bottom;
          transform-origin: center bottom;
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}

@-o-keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
       -o-animation-name: shake;
          animation-name: shake;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
       -o-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-o-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -o-transform: none;
       transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
         -o-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
       -o-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-o-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -o-transform: none;
       transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
         -o-transform: none;
            transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
       -o-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
       -o-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

@-o-keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
       -o-animation-name: fadeOutUp;
          animation-name: fadeOutUp;
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

@-o-keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
       -o-animation-name: fadeOutDown;
          animation-name: fadeOutDown;
}

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@-o-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
         -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
       -o-animation-name: bounceIn;
          animation-name: bounceIn;
}

@-webkit-keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
  50%, 55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
}

@-o-keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
  50%, 55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
}

.bounceOut {
  -webkit-animation-name: bounceOut;
       -o-animation-name: bounceOut;
          animation-name: bounceOut;
}

@-webkit-keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-o-keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
         -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
       -o-animation-name: bounceInUp;
          animation-name: bounceInUp;
}

@-webkit-keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }
}

@-o-keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

@keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
            transform: translate3d(0, 2000px, 0);
  }
}

.bounceOutDown {
  -webkit-animation-name: bounceOutDown;
       -o-animation-name: bounceOutDown;
          animation-name: bounceOutDown;
}

.delay-1 {
  -webkit-animation-delay: 0.1s;
       -o-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.delay-2 {
  -webkit-animation-delay: 0.25s;
       -o-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.delay-3 {
  -webkit-animation-delay: 0.4s;
       -o-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.delay-4 {
  -webkit-animation-delay: 0.55s;
       -o-animation-delay: 0.55s;
          animation-delay: 0.55s;
}

.delay-5 {
  -webkit-animation-delay: 0.7s;
       -o-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.delay-6 {
  -webkit-animation-delay: 0.95s;
       -o-animation-delay: 0.95s;
          animation-delay: 0.95s;
}
